option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "wactor.settings"
    "PYTHONPATH": "/opt/python/current/app/wibe:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: wactor/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"